* {
  border: none;
  border-radius: 5px;
  border-style: none;
  box-sizing: content-box;

}

ul {
  margin: 0;
  padding: 10px 18px;
  font-size: 18px;
}

ul li {
  position: centre;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li:hover {
  background: #deb887
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
input {
  margin: 0;
  border: none;
  border-radius: 5px;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 18px;
}


.addBtn {
  padding: 12px;
  width: 35%;
  background: #d9d9d9;
  color:rgb(0, 0, 255);
  float: left;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
}

.addBtn:hover {
  background-color:#0000ff
}
p{
    font-size: 20px;
    font-weight: 100;
    color: #f44336;
}